body {
  background: linear-gradient(10deg, rgb(9, 0, 41),
      rgb(1, 0, 7),
      rgb(4, 0, 14),
      rgba(0, 0, 0, 0.904),
      rgba(0, 0, 0, 0.904));
  background-image: url("/images/backgorundjpg.jpg");
  background-size: 1200px;
  background-position: center;
  margin-left: 450px;
}

.score {
  background: linear-gradient(10deg, rgb(9, 0, 41),
      rgba(184, 186, 85, 0.364),
      rgba(245, 245, 245, 0.33),
      rgba(255, 255, 255, 0.255),
      rgba(39, 4, 135, 0.508));
  border-radius: 300px;
  border-color: #0000006e;
  border-width: 1px;
  border-style: solid;
  width: 100px;
  text-align: center;
  margin-left: 4px;
  color: #2a036a;
  margin-bottom: 1px;
  box-shadow: 71px 65px 30px -27px rgba(189, 162, 226, 0.747) inset;
}

.cell {
  color: white;
  width: 40px;
  height: 35px;
  text-align: center;
  font-size: 1.5em;
  background: linear-gradient(180deg, rgb(0, 0, 0),
      rgba(1, 0, 7, 0.316),
      rgba(30, 2, 100, 0.501),
      rgb(0, 0, 0));
  border-style: outset;
  border-color: rgba(255, 255, 255, 0.473);
  border-width: 1px;
  box-shadow: 0px 5px 40px;
  border-radius: 3px;
  box-shadow: 4px 2px 5px #fffffff7,
    -20px -20px 60px #ffffff58;
}

.cell img {
  width: 30px;
  margin-top: 7px;
  height: auto;
}

.cell {
  background-color: rgba(143, 60, 211, 0.707);

}

.ghost {
  position: center;
  width: 1x;
  height: 25px;
  font-size: 15px;
  color: black;
  background: rgb(242, 242, 242);
  box-shadow: -17px 0px 0px rgba(82, 78, 78, 0.481) inset, 0 0 50px #5939db;
  border-radius: 100px 100px 0px 0px;
  animation: float 3s infinite;
  animation-duration: 3s;
}

/* .shadow {
  background-color: black;
  width: 5px;
  height: 20px;
  margin-top: 50px;
  border-radius: 50%;
  animation: shadow 3s infinite;
} */

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

/* @keyframes shadow {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
} */

.modal {
  margin-right: 80px;
  display: none;
  margin-top: 100px;
  background: linear-gradient(10deg, rgb(214, 203, 255),
      rgba(255, 255, 255, 0.631),
      rgba(134, 101, 226, 0.919),
      rgba(148, 113, 245, 0.919),
      rgba(93, 0, 242, 0.919));
  position: absolute;
  color: rgb(255, 255, 255);
  border: rgba(0, 31, 206, 0.193);
  border-color: rgb(255, 255, 255);
  border-radius: 200px;
  border-width: 2px;
  box-shadow: 4px 2px 5px #ffcc00,
    -20px -20px 60px #0048ff;
  border-style: solid;
  font-size: 15px;
  color: #f6f7fa;
  font-family: 'Comic Sans MS',
    cursive,
    sans-serif;
  text-shadow: 0px 0px 0 rgb(0, 0, 0),
    0px -1px 0 rgb(5, 21, 255),
    0px -2px 0 rgb(0, 0, 0),
    0px -3px 0 rgb(0, 0, 0),
    0px -4px 0 rgb(0, 0, 0),
    0px -5px 0 rgb(0, 0, 0),
    0px -6px 5px rgb(0, 0, 0),
    0px -6px 1px rgb(73, 166, 252),
    0px 0px 5px rgb(0, 0, 0);
  top: 10px;
  right: 20px;
  padding: 15px;
  width: 300px;
  height: 50px;
}

.wall {
  font-size: 10px;
  border-style: initial;
  background: linear-gradient(90deg, rgb(0, 0, 0),
      rgba(8, 0, 56, 0.316),
      rgb(5, 60, 238),
      rgba(28, 2, 92, 0.501),
      rgb(0, 0, 0));

}

.food {
  font-size: 15px;
  color: rgb(240, 255, 102);
  text-shadow: 4px 1px 0 rgba(0, 0, 0, 0.227),
    3px 1px 0 rgba(0, 0, 0, 0.556);
}

.modal button {
  float: right;
  margin-right: 60px;
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
  font-family: 'Comic Sans MS',
    cursive,
    sans-serif;
  text-shadow: 1px 2px 0 rgba(9, 3, 3, 0.234),
    0px -1px 0 rgb(4, 0, 73);
  font-size: 12px;
  border-radius: 200px;
  background: linear-gradient(45deg, #81818129, #e9e9e9b4);
  box-shadow: 4px 2px 5px #d9d9d987,
    -20px -20px 60px #ffffff;
  position: relative;
  margin-top: 10px;
}

.modal button:hover {
    float: right;
    margin-right: 60px;
    width: 99px;
    height: 39px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(253, 253, 160);
    font-family: 'Comic Sans MS',
    cursive,
    sans-serif;
    text-shadow: 1px 2px 0 rgba(9, 3, 3, 0.234),
    0px -1px 0 rgb(4, 0, 73);
    font-size: 12px;
    border-radius: 200px;
    background: linear-gradient(45deg, #bdbbbb29, #413535b4);
    box-shadow: 4px 2px 5px #3d3d3d87,
    -20px -20px 60px #1e1764;
    position: relative;
    margin-top: 10px;

}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */